body{
	padding-top: 5px !important;
}
.navbar-brand img{
	max-width: 50px;
	max-height: 50px;
}
.nav-link{
	color: white !important;
	font-weight: bold;
}
.nav-link:hover{
	color: gray !important;
}
/*Nom du site et mode d'emploi de l'application*/
#pLink{
	margin: auto 5px !important;
	font-size: 20px !important;
}
/*Décalage des éléments après menu*/
nav{
	margin-bottom: 15px;	
}
/* Div avec fond image Paris */
#parisImg{
	height: 500px;
	width: 100%;
	background-image: url("../images/paris.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: -20px auto;
}
/*Texte de présentation de l'application devant l'image de Paris*/
#imgText{
	margin: 120px auto;
	background-color: #2e3439;
	padding: 15px;
	color: white;
	opacity: 0.9;
}
/*Bouton de lancement de l'application*/
.imgText input{
	opacity: 1 !important;;
}
/*Mode d'emploi de l'application */
#explain{
	text-align: center;
	margin: 5px auto !important;;
	font-size: 18px;
}
/*carte*/
#map{
	height: 450px;
	width: 450px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#footer{
	font-size: 18px;
	min-height: 45px;
	background-color: #343a40 ;
	text-align: center;
	padding-top: 10px;
	color: white;
	margin-top: 15px;
}

#footer a{
	color: white !important;
	text-decoration: none;
}
/*Formulaire d'ajout*/
#addForm{
	padding: 5px;
	height: 450px;
	overflow: auto;
}
/*Zone d'affichage des restos trouvés*/
#mapInfo{
	height: 450px;
	overflow: auto;
	text-align: center;
	width: 100%;
}
/*Container de cette zone*/
#mapInfoContainer{
	padding-right: 0px;
}
/*Masquage des éléments du formulaire*/
#toHide{
	display: none;
}
/*Liste des restos*/
li{
	list-style-type: none;
}
#restoList{
	padding-left: 0px;
}
.name{
	font-weight: bolder;
	padding-top: 6px;
}
#mapInfo, #form, #map{
	background-color: #ffffcc;
	box-shadow: 1px 1px 12px #555;
}